*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
    border: 1px solid red;
    display: flex;
    height: 100vh;
    //width: 100%;
}

.left {
    width: 50%;
    border: 1px solid red;
    background-color: aqua;
}

.right {
    flex: 1;
    border: 1px solid red;
    background-color: blue;
}

.divider {
  background-color: black;
  width: 15px;
  height: 100%;
  cursor: col-resize;
}
